body {
  background-color: rgb(34, 34, 34);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(212, 212, 212);
  font-size: 120%;
  
}
.top-bar-container {
  width: auto;
  height: auto;
  background-color: rgb(53, 53, 53);
  border-width: 0.2rem;
  border-color: rgb(212, 212, 212);
  border-style: solid;
  border-radius: 0.7rem;
  padding: 0.6rem;
  text-align: center;
  
}
.top-bar-links {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  background-color: black;
  padding: 0.2rem;
  margin: auto;
  color: rgb(171, 171, 171);
  text-decoration: none;
  border-width: 0.1rem;
  border-color: rgb(212, 212, 212);
  border-style: solid;
  border-radius: 0.2rem;
}
.normal-text{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(212, 212, 212);
  font-size: 120%;
  margin-left: 2%;
  margin-right: 2%;
}
.caption {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(212, 212, 212);
  font-size: 150%;
  background-color: rgb(46, 46, 46);
  text-align: center;
  height: 5%;
  border-top-width: 0.3rem;
  border-top-color: rgb(25, 25, 25);
  border-top-style: groove;
  border-bottom-width: 0.3rem;
  border-bottom-color: rgb(15, 15, 15) ;
  border-bottom-style: groove;
}
