body {
  background-color: rgb(34, 34, 34);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(212, 212, 212);
  font-size: 120%;
}
.top-bar-container {
  width: 100%;
  height: fit-content;
}
.normal-text{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(212, 212, 212);
  font-size: 120%;
}
